
.movie{
    display: flex;
    width: 700px;
    height: 415px;
    box-shadow: 2px 2px 3px 3px;
    padding: 2px 3px;
    margin: 20px 15px;
    
}

.movie__vote-average{
    position: absolute;
    right: 20px;
    color: black;
    background-color: white;
    border-width: 2px;
}

.movie__rate{
    color: #a01111
}

.movie__date-release{
   font-style: italic;
   margin-bottom: 10px;
}

.movie__genres{
    border: 1px gray solid;
    padding: 3px;
    background-color: rgb(244, 238, 238);
    border-radius: 7px;
}


.movie__poster {
    margin: 5px;

  
}

.movie__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 290px;
    padding-top: 10px;
    -webkit-line-clamp: 4;
}

.movie__spin{
    display: block;
    height: 400px;
    width: 400px;
    padding: 190px 60px
}